    <div class="container">

      <div class="jumbotron">
        <h1>bus.soton</h1>
        <p class="lead">Welcome to bus.soton, an iSolutions service for bus information.</p>
        <a id="gps-activate" class="btn btn-lg btn-primary" href="#" role="button">Find Nearby Stops &raquo;</a>
      </div>

	<div class="card-deck">

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Highfield Interchange</h5>
				<p class="card-text">The main University interchange, right in the middle of campus.</p>
				<p class="card-text"><small class="text-muted">Live times are available from this stop.</small></p>
			</div>
			<div class="card-footer">
				<a class="btn btn-primary" href="/bus-stop/1980HAA13668.html">View Stop</a>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Southampton Airport Parkway</h5>
				<p class="card-text">Access to Southampton Parkway station and Southampton Airport.</p>
			</div>
			<div class="card-footer">
				<a class="btn btn-primary" href="/area/airport.html">View Area</a>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Central Station</h5>
				<p class="card-text">Access to Southampton Central station and the city centre, including Mayflower Halls.</p>
				<p class="card-text"><small class="text-muted">Change here for non-Unilink services.</small></p>
			</div>
			<div class="card-footer">
				<a class="btn btn-primary" href="/area/station.html">View Area</a>
			</div>
		</div>

	</div>

    </div>

