
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">bus.soton</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/places.html">Places</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Areas</a>
            <ul class="dropdown-menu tt-menu">
              <li class="tt-suggestion"><a href="/area/highfield.html">Highfield Campus</a></li>
              <li class="tt-suggestion"><a href="/area/avenue.html">Avenue Campus</a></li>
              <li class="tt-suggestion"><a href="/area/sgh.html">General Hospital</a></li>
              <li class="tt-suggestion"><a href="/area/citygateway.html">City Gateway</a></li>
              <li class="tt-suggestion"><a href="/area/station.html">Central Station / Mayflower</a></li>
              <li class="tt-suggestion"><a href="/area/airport.html">Airport (Parkway)</a></li>
              <li class="tt-suggestion"><a href="/area/bevois.html">Bevois Valley</a></li>
              <li class="tt-suggestion"><a href="/area/lordshill.html">Lordshill</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bus-stops.html">Stops</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Routes</a>
            <ul class="dropdown-menu tt-menu">
              <li class="tt-suggestion"><a href="/bus-service/unil/U1.html">Unilink U1</a></li>
              <li class="tt-suggestion"><a href="/bus-service/unil/U1N.html">Unilink U1N</a></li>
              <li class="tt-suggestion"><a href="/bus-service/unil/U2.html">Unilink U2</a></li>
              <li class="tt-suggestion"><a href="/bus-service/unil/U6.html">Unilink U6</a></li>
              <li class="tt-suggestion"><a href="/bus-service/unil/U9.html">Unilink U9</a></li>
              <li class="tt-suggestion"><a href="/bus-service/blus/1.html">Bluestar 1</a></li>
              <li class="tt-suggestion"><a href="/bus-service/blus/2.html">Bluestar 2</a></li>
              <li class="divider" role="separator"></li>
              <li class="tt-suggestion"><a href="/bus-routes.html">All Routes</a></li>
            </ul>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="/search.html" method="POST">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" id="bus_search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

