	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

		<a class="navbar-brand" href="/">bus.flarpyland</a>

		<div class="collapse navbar-collapse" id="nav-main-menu">
			<div class="navbar-nav">

				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Areas</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/area/sgh.html">General Hospital</a>
						<a class="dropdown-item" href="/area/station.html">Central Station</a>
						<a class="dropdown-item" href="/area/airport.html">Airport / Parkway Station</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/area/bevois.html">Bevois Valley</a>
						<a class="dropdown-item" href="/area/lordshill.html">Lordshill</a>
						<a class="dropdown-item" href="/area/citygateway.html">Swaythling</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/area/highfield.html">University Main Campus</a>
						<a class="dropdown-item" href="/area/avenue.html">University Avenue Campus</a>
					</div>
				</div>

				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Routes</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/bus-service/blus/1.html">Bluestar 1</a>
						<a class="dropdown-item" href="/bus-service/blus/2.html">Bluestar 2</a>
						<a class="dropdown-item" href="/bus-service/blus/7.html">Bluestar 7</a>
						<a class="dropdown-item" href="/bus-service/blus/16.html">Bluestar 16</a>
						<a class="dropdown-item" href="/bus-service/blus/17.html">Bluestar 17</a>
						<a class="dropdown-item" href="/bus-service/blus/18.html">Bluestar 18</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/bus-service/fham/2.html">First 2</a>
						<a class="dropdown-item" href="/bus-service/fham/3.html">First three</a>
						<a class="dropdown-item" href="/bus-service/fham/7.html">First 7</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/bus-service/unil/U1.html">Unilink U1</a>
						<a class="dropdown-item" href="/bus-service/unil/U2.html">Unilink U2</a>
						<a class="dropdown-item" href="/bus-service/unil/U6.html">Unilink U6</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/bus-routes.html">All Routes</a>
					</div>
				</div>
			</div>
		</div>

		<button class="navbar-toggler nav-item" type="button" data-toggle="collapse" data-target="#nav-main-menu" aria-controls="nav-main-menu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div>
			<form class="form-inline mt-2 mt-md-0" action="/search.html" method="POST">
			<div class="d-flex flex-row-reverse">
				<div class="align-self-center"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></div>
				<check if="{{ @page_search_query }}">
				<true><div class="align-self-center"><input class="form-control mr-sm-2" type="text" placeholder="Search" id="bus_search" name="bus_search" value="{{ @page_search_query }}"></div></true>
				<false><div class="align-self-center"><input class="form-control mr-sm-2" type="text" placeholder="Search" id="bus_search" name="bus_search"></div></false>
				</check>
			</div>
			</form>
		</div>

	</nav>

