body
{
	padding-top: 5em;

	background-image: url(../graphics/background.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000000;
}

.jumbotron
{
	background-image: url(../graphics/uos-logo.png);
	background-size: 12em auto;
	background-position: 95% 1.5em;
	background-repeat: no-repeat;
}

.card
{
	margin-bottom: 1em;
}

@media screen and (max-width: 489px)
{
	.container { margin-top: 3em; }
}
