body
{
	padding-top: 5em;

	background-image: url(../graphics/background.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000000;
}

.jumbotron
{
	background-color: rgba(255, 255, 255, 0.5);
}

.jumbotron h1 { margin-top: 1em; }

.card
{
	margin-bottom: 1em;
	background-color: rgba(255, 255, 255, 0.5);
}

.list-group-item
{
	background-color: rgba(255, 255, 255, 0.5);
}

.list-group-item-dark, .list-group-item-dark:hover
{
	background-color: rgba(0, 0, 0, 0.5) !important;
	color: #FFFFFF !important;
}

@media screen and (max-width: 489px)
{
	.container { margin-top: 3em; }
}
